.a{
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-seri;
    color: #46469f;

    
}
.a>h2{
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
.a>input{
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
.a>button
{
    background-color: #46469f;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}